# We don't want lockfiles in stacks, as people could use a different package manager
# This part will be removed by `remix.init`
package-lock.json

node_modules

/build
/public
.env

.cache/
.vscode/

/app/styles
/prisma/dev.db
/prisma/data.db-journal
